   
  <div class="row z-depth-2 blue-grey lighten-5">
    <div class="col s12 col m12 col l12 waves-effect waves-default">
      <center>
      	<h4 class="flow-text bold">
	      	<i class="fa fa-trophy"></i> 
	      		WRTT TOPNOTCHERS
      	</h4>
      	<h6 class="flow-text">
      		<small>AS OF February 03, 2016</small>
      	</h6>
      </center>
    </div>
  </div>

    <!-- wrtt content batch 1 -->
<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">	
          	<h3 class="batch1 flow-text center bold">King Daryl Pelisco</h3>
            <h2 class="center brown-text">
            	<img class="responsive-img" src="http://nutritech.ph/images/wrtt/wrttthumb/kingdarylpelisco.png">
            </h2>
            <h6 class="center flow-text">Assistant District Manager (ADM)</h6>
            <h6 class="light center">Louis Vuitton - The Collection Team - Pasig</h6>
          </div>
        </div>

       <div class="col s12 m4">
          <div class="icon-block">
          	<h5 class="batch1 flow-text center bold">Casiano Cornelia</h5>
            <h2 class="center brown-text">
            	<img class="responsive-img" src="http://nutritech.ph/images/wrtt/wrttthumb/corneliacasiano.png">
            </h2>
            <h6 class="center flow-text">District Manager (DM)</h6>
            <h6 class="light center">Louis Vuitton - The Collection Team - Pasig</h6>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
          	<h5 class="batch1 flow-text center bold">Telmo Guillermo</h5>
            <h2 class="center brown-text">
            	<img class="responsive-img" src="http://nutritech.ph/images/wrtt/wrttthumb/telmoguillermo.png">
            </h2>
            <h6 class="center flow-text">Regional Manager (RM)</h6>
            <h6 class="light center">Louis Vuitton - The Collection Team - Pasig</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- wrtt content batch 2 -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">	
          	<h4 class="batch2 flow-text center bold">Jessa Lamzon</h4>
            <h2 class="center brown-text">
            	<img class="responsive-img tooltipped" src="http://nutritech.ph/images/wrtt/wrttthumb/jessalamzon.png">
            </h2>
            <h6 class="center flow-text">Single Diamond Director (SDD)</h6>
            <h6 class="light center">Louis Vuitton - The Collection Team - Pasig</h6>
          </div>
        </div>

       <div class="col s12 m4">
          <div class="icon-block">
          	<h4 class="batch2 flow-text center bold">Nora Baldovino</h4>
            <h2 class="center brown-text">
            	<img class="responsive-img" src="http://nutritech.ph/images/wrtt/wrttthumb/norabaldovino.png">
            </h2>
            <h6 class="center flow-text">Double Diamond Director (DDD)</h6>
            <h6 class="light center">Louis Vuitton - The Collection Team - Pasig</h6>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
          	<h4 class="batch2 flow-text center bold">Imelda Ulnagan</h4>
            <h2 class="center brown-text">
            	<img class="responsive-img" src="http://nutritech.ph/images/wrtt/wrttthumb/imeldaulnagan.png">
            </h2>
            <h6 class="center flow-text">Personal Recruit (PR)</h6>
            <h6 class="light center">Louis Vuitton - The Collection Team - Pasig</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- wrtt content batch 3 -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">	
          	<h4 class="batch4 flow-text center bold">Revilla Dela Cruz</h4>
            <h2 class="center brown-text">
            	<img class="responsive-img tooltipped" src="http://nutritech.ph/images/wrtt/wrttthumb/revilladelacruz.png">
            </h2>
            <h6 class="center flow-text">Personal Sales (PS)</h6>
            <h6 class="light center">Louis Vuitton - The Collection Team - Pasig</h6>
          </div>
        </div>

       <div class="col s12 m6">
          <div class="icon-block">
          	<h4 class="batch4 flow-text center bold">Telmo Guillermo</h4>
            <h2 class="center brown-text">
            	<img class="responsive-img" src="http://nutritech.ph/images/wrtt/wrttthumb/telmoguillermo.png">
            </h2>
            <h6 class="center flow-text">Reginal Area Manager (RAM)</h6>
            <h6 class="light center">Louis Vuitton - The Collection Team - Pasig</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- rartt -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">	
          	<h4 class="batch5 flow-text center bold">Ferrari</h4>
            <h2 class="center brown-text">
            	<img class="responsive-img tooltipped" src="http://nutritech.ph/images/wrtt/wrttthumb/ferrari.jpg">
            </h2>
            <h6 class="center flow-text">Regional Area Race to the top (RARTT)</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

    <!-- Latest news section  -->
  <div class="row z-depth-2 blue-grey lighten-5">
    <div class="col s12 m12 l12 waves-effect waves-default">
      <center>
      	<h4 class="flow-text bold">
      		<i class="fa fa-newspaper-o"></i> 
      		LATEST HAPPENINGS
      	</h4>
      </center>
    </div>
  </div>


      <div id="test" class="col s12 m12" style="display:none;">
		<div class="card-panel grey lighten-5 z-depth-2">
		      <h5 class="bold flow-text center-align">test</h5>
		      <div class="row valign-wrapper">
		        <div class="col s12 m12 center-align">
		          <img src="http://nutritech.ph/images/rahc.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
		        </div>
		        <div class="col s12 m12 hide-on-small-only">
		          <h6 class="black-text hide-on-small-only">
		            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		          </h6>
		        </div>
		    </div>
		     <h6 class="black-text hide-on-med-and-up truncate">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </h6>
		  </div>
	  </div>

      <div id="rahc-1" class="col s12 m12">
		<div class="card-panel grey lighten-5 z-depth-2">
		      <h5 class="bold flow-text center-align">REGIONAL AREA HEALTHY COOKING</h5>
		      <div class="row valign-wrapper">
		        <div class="col s12 m12 center-align">
		          <img src="http://nutritech.ph/images/rahc.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
		        </div>
		        <div class="col s12 m12 hide-on-small-only">
		          <h6 class="black-text hide-on-small-only">
		            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		          </h6>
		        </div>
		    </div>
		     <h6 class="black-text hide-on-med-and-up truncate">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </h6>
		  </div>
	  </div>

	  <div class="col s12 m12">
		<div class="card-panel grey lighten-5 z-depth-2">
		      <h5 class="bold flow-text center-align">RARTT CONTEST</h5>
		      <div class="row valign-wrapper">
		        <div class="col s12 m12 center-align">
		          <img src="http://nutritech.ph/images/people.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
		        </div>
		        <div class="col s12 m12 hide-on-small-only">
		          <h6 class="black-text hide-on-small-only">
		            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		          </h6>
		        </div>
		    </div>
		     <h6 class="black-text hide-on-med-and-up truncate">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </h6>
		  </div>
	  </div>

	  

	<div class="col s12 m12">
		<div class="card-panel grey lighten-5 z-depth-2">
		      <h5 class="bold flow-text center-align">BE A MANAGER</h5>
		      <div class="row valign-wrapper">
		        <div class="col s12 m12 center-align">
		          <img src="http://nutritech.ph/images/toyota_avanza.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
		        </div>
		        <div class="col s12 m12 hide-on-small-only">
		          <h6 class="black-text hide-on-small-only">
		            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		          </h6>
		        </div>
		    </div>
		     <h6 class="black-text hide-on-med-and-up truncate ">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </h6>
		  </div>
	  </div>

  <!-- topnotchers news section  -->
  

   <!-- whats cooking section  -->
   <br><br>
  <div class="row z-depth-2 blue-grey lighten-5">
    <div class="col s12 col m12 col l12 waves-effect waves-default">
      <center>
      	<h4 class="flow-text bold">
	      	<i class="fa fa-spoon"></i> 
	      		WHAT'S COOKING
      	</h4>
      </center>
    </div>
  </div>

    <!-- whats cooking content -->
  <div class="col s12 m12">
		<div class="card-panel grey lighten-5 z-depth-2">
		      <h5 class="bold flow-text center-align">NUTRIDART BINGOTECH</h5>
		      <div class="row valign-wrapper">
		        <div class="col s12 m12 center-align">
		          <img src="img/whatscooking/nutridart.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
		        </div>
		        <div class="col s12 m12 hide-on-small-only">
		          <h6 class="black-text hide-on-small-only">
		            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		          </h6>
		        </div>
		    </div>
		     <h6 class="black-text hide-on-med-and-up truncate ">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </h6>
		  </div>
	  </div>

   <div class="col s12 m12">
	<div class="card-panel grey lighten-5 z-depth-2">
	      <h5 class="bold flow-text center-align">RECRUITING NG KAPALARAN - RAHC</h5>
	      <div class="row valign-wrapper">
	        <div class="col s12 m12 center-align">
	          <img src="img/whatscooking/rnk.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
	        </div>
	        <div class="col s12 m12 hide-on-small-only">
	          <h6 class="black-text hide-on-small-only">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </h6>
	        </div>
	    </div>
	     <h6 class="black-text hide-on-med-and-up truncate ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </h6>
	  </div>
	</div>

    <!-- upcoming events section  -->
   <br><br>
  <div class="row z-depth-2 blue-grey lighten-5">
    <div class="col s12 col m12 col l12 waves-effect waves-default">
      <center>
      	<h4 class="flow-text bold">
	      	<i class="fa fa-plane"></i> 
	      		UPCOMING EVENTS
      	</h4>
      </center>
    </div>
  </div>

   <div class="col s12 m12">
	<div class="card-panel grey lighten-5 z-depth-2">
	      <h5 class="bold flow-text center-align">BEST OF THE BEST 2015</h5>
	      <div class="row valign-wrapper">
	        <div class="col s12 m12 center-align">
	          <img src="img/upcoming/bob.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
	        </div>
	        <div class="col s12 m12 hide-on-small-only">
	          <h6 class="black-text hide-on-small-only">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </h6>
	        </div>
	    </div>
	     <h6 class="black-text hide-on-med-and-up truncate ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </h6>
	  </div>
	</div>


	<div class="col s12 m12">
	<div class="card-panel grey lighten-5 z-depth-2">
	      <h5 class="bold flow-text center-align">2016 MANAGERS FIESTRAVAGANZA</h5>
	      <div class="row valign-wrapper">
	        <div class="col s12 m12 center-align">
	          <img src="http://nutritech.ph/images/poropoint.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
	        </div>
	        <div class="col s12 m12 hide-on-small-only">
	          <h6 class="black-text hide-on-small-only">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	          </h6>
	        </div>
	    </div>
	     <h6 class="black-text hide-on-med-and-up truncate ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </h6>
	  </div>
	</div>

  <!-- Modal structure -->
<button style="opacity:0" data-target="modal1" class="btn modal-trigger"></button>
 <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


    <!-- Footer section  -->
   <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text">Follow Us</h5>
          <ul>
            <li><i class="fa fa-twitter fa-3x"></i> <a class="bold white-text" href="http://twitter.com/josnutritech">JOSNUTRITECH</a></li>
            <li><i class="fa fa-instagram fa-3x"></i> <a class="bold white-text" href="http://instagram.com/josnutritech">JOSNUTRITECH</a>	</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      	Copyright © <a class="white-text text-lighten-3" href="http://nutritech.ph">Nutritech Alliance Corporation</a>
      </div>
    </div>
  </footer>