/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*Header text*/
.header-text{
  width: 100%;
  padding: 0px;
  color: white;
}


/*Front Logo*/
.front-logo{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

#main-container{
  display:none;
}

#happy-day{
  font-family: monotype corsiva;
  position:fixed;
  top: 23%;
}

.loading-spin{
  position: fixed;
  left: 50%;
  top: 50%;
}

.bold {
  font-weight: bold;
}


/*body{
  background-color: white;
}*/


.text-background{
  background-color: rgba(68, 66, 66, 0.59);
}


/*Slider*/
.slider{
  height: 340px !important;
}

.slides{
  height: 300px !important;
}

nav{
  color:#000;
}

#nav-mobile{
  font-size: 10px;
}


li.active{
  background-color: #F5F5F5 !important;
}

.li-icon{
  font-size: 10px !important;
}

.side-nav li{
  padding: 0px;
}

.fa-ul{
  margin-left: 3.142857em !important;
}

.slider .indicators .indicator-item.active {
    background-color: #4CAF50 !important;
}

/*.side-nav li:hover, .side-nav li.active {
    background-color: #26a69a !important;
}*/



