<ion-view title="Fare" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="fare-form3" class="list">
      <label class="item item-input" id="fare-input6">
        <span class="input-label">From:</span>
        <input type="text" placeholder="Pickup Place">
      </label>
      <label class="item item-input" id="fare-input7">
        <span class="input-label">To</span>
        <input type="text" placeholder="Drop Place">
      </label>
      <label class="item item-input" id="fare-input8">
        <span class="input-label">Total KM:</span>
        <input type="text" placeholder="Total Kilometers" id="totalkm">
      </label>
      <label class="item item-input" id="fare-input9">
        <span class="input-label">Total Fare:</span>
        <input type="text" placeholder="Total Payment" id="totalpayment">
      </label>
    </form>
  </ion-content>
</ion-view>
