<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="home-markdown3" class="show-list-numbers-and-dots">
    <hr>
      <p style="color:#000000;text-align: justify;">Bataan Transit Company, Inc. is a family-owned business founded in 2003. Its operation started with its strategic route from Cubao, Quezon City to Balanga City, Bataan. Though it was originally known as Nichaea Tours, Inc., it has finally made a mark to its passengers and customers alike as “Bataan Transit” in 2004. It later expanded its route and served farther up to the mountainous town of Mariveles, Bataan and a wider area in Metro Manila. To date, the company also offers charter and freight services.
      </p>
      <h3>Vision</h3>
      <p>To be a recognized leader and innovator in the provision of transport services that ensure safe, efficient and reliable land travel.</p>
      <h3>Mission</h3>
      <p>Provide safe, high-quality and reliable transport services in Bataan, bringing people, jobs and communities closer together.</p>
      <h3>Five Core Values</h3>
      <p>1. Creativity</p>
      <p>2. Going the Extra Mile</p>
      <p>3. Integrity</p>
      <p>4. Quality</p>
      <p>5. Loyalty</p>
      <h3>Our Service Vow</h3>
      <p>Passengers are most important to us and we are at your service.</p>
    </div>
  </ion-content>
</ion-view>