<ion-view view-title="Home">
  <ion-content class="padding">

  <!-- Dropdown for Table -->
  <div class="list">
  <label class="item item-input item-select">
      <div class="input-label">
        Select Table Number:
      </div>
      <select id="table">
        <option value="0">-Select Table-</option>
        <option value="Table1">Table1</option>
        <option value="Table2">Table2</option>
        <option value="Table3">Table3</option>
        <option value="Table4">Table4</option>
        <option value="Table5">Table5</option>
        <option value="Table6">Table6</option>
        <option value="Table7">Table7</option>
        <option value="Table8">Table8</option>
        <option value="Table9">Table9</option>
        <option value="Table10">Table10</option>
      </select>
    </label>
  </div>

  <!-- Dishes List -->
   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 1</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 2</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 3</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 4</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 5</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 6</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 7</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 8</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 9</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Dish 10</h2>
      <p>Dish Description</p>
      <p>Price: 10</p>
    </a>
  </div>

  
    
  </ion-content>
</ion-view>
