<ion-view view-title="Application Settings">
  <ion-content >
    <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Server Name</span>
	    <input type="text" placeholder="localhost">

	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Database Name</span>
	    <input type="text" placeholder="sample">
	  </label>

	  <label class="item item-input item-stacked-label">
	    <span class="input-label">User</span>
	    <input type="text" placeholder="root">
	  </label>

	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Password</span>
	    <input type="password" placeholder="password">
	  </label>

	  <button class="button button-block button-calm">
	  	Update Settings
	  </button>
</div>
  </ion-content>
</ion-view>
