<ion-view view-title="Orders">
  <ion-content class="padding">

  <!-- Dishes List -->
   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 1 Order</h2>
    </a>
  </div>

   <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 2 Order</h2>
    </a>
  </div>

  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 3 Order</h2>
    </a>
  </div>

  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 4 Order</h2>
    </a>
  </div>

  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 5 Order</h2>
    </a>
  </div>

  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 8 Order</h2>
    </a>
  </div>

  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 7 Order</h2>
    </a>
  </div>

  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 8 Order</h2>
    </a>
  </div>

  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 9 Order</h2>
    </a>
  </div>

  <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Table 10 Order</h2>
    </a>
  </div>

  
    
  </ion-content>
</ion-view>
