<ion-view view-title="Kitchen">
  <ion-content class="padding">

  <div class="row">
    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb1">
         <i class="icon ion-android-bookmark"></i>
          Table1
      </a>
    </div>
    </div>

    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb2">
        <i class="icon ion-android-bookmark"></i>
          Table2
      </a>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb3">
         <i class="icon ion-android-bookmark"></i>
          Table3
      </a>
    </div>
    </div>

    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb4">
        <i class="icon ion-android-bookmark"></i>
          Table4
      </a>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb5">
         <i class="icon ion-android-bookmark"></i>
          Table5
      </a>
    </div>
    </div>

    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb6">
        <i class="icon ion-android-bookmark"></i>
          Table6
      </a>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb7">
         <i class="icon ion-android-bookmark"></i>
          Table7
      </a>
    </div>
    </div>

    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb8">
        <i class="icon ion-android-bookmark"></i>
          Table8
      </a>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb9">
         <i class="icon ion-android-bookmark"></i>
          Table9
      </a>
    </div>
    </div>

    <div class="col col-50">
      <div class="list">
      <a class="item item-icon-left" href="#" id="tb10">
        <i class="icon ion-android-bookmark"></i>
          Table10
      </a>
    </div>
    </div>
  </div>

  </ion-content>
</ion-view>
